 mark {
            color:#5d0013 ;
            background-color: #ffffff;
            font-size: 30px;
            }
 ::selection {
             background:#ffffff; /* Цвет фона */
             color: #5d0013; /* Цвет текста */
            }
body{
                    color: #ffffff !important;
                    background-image:url('фон3.png');
                    background-size: auto;
                    background-repeat: repeat;
                    height: 120vh;
                }
 aside {
            padding: 10px;
            float: right;
        }

logtext{

                text-align: center;
                margin-bottom: 200px;
                font-family: Ruthie;
                font-size: 60px;
                
                
            }

/*.parallax-wrapper{
  position: relative;
  height: 70vh; /* пространство для скролла */
}*/

.card1, .sortiGroup, .block {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
}

nav {
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/*#nach{
  position: absolute; /* управление положением через transform 
  left: 35%;
  transform: translate(-50%, 0);
  top: 1vh; /* точка появления 
  will-change: transform, opacity;
  pointer-events: none;
}*/



    


header{
           
            align-items: center;
            justify-content: space-between;
            background: #9599c3; /* цвет шапки */
            padding: 10px ;
            height: 30px;
            position: fixed;
            display: flex;
            width: 100%;
            top: 0; 
            left: 0;
            z-index: 1000;
        }
        
        footer{
            align-items: center;
            background: #9599c3; 
            padding: 40px ;
            width: 100%;
            bottom: 0;
            left: 0;
            display: flex;
            list-style: none;
            gap: 30px;   /* расстояние между пунктами */
            padding: 0;
        }
            .shap{
                display: flex;
                align-items: center;
                gap: 100px; 
                justify-content: center; /* выравнивание по центру */
                color:#181818;
                
            }
            .logo img{
                position: absolute;
                top: 1px;
                left: 10px;
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-top: 5px;

            }
            nav ul {
                display: flex;
                list-style: none;
                gap: 40px;   /* расстояние между пунктами */
                margin: 0;
                padding: 0;
             }
             nav a {
                
                text-decoration: none;
                color: #181818;
                font-weight: bold;
                font-size: 20px;
                background: white;
                padding: 15px 15px;
                border-radius: 2px;
                transition: 0.2s;
                height: 40px;
                margin-top: 20px;
             }

            /*nav a:hover {
                background: #420410;
                color: white;
            }*/
            obl {
                font-family: "Love Light", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 120px;
             }  
             
             p{
                font-family: "Source Serif 4", serif;
                font-optical-sizing: auto;
                font-weight: <weight>;
                font-style: normal;
             }
            sort{
                font-family: "Comforter Brush", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 100px;
                padding-left: 40px;
            }
            dt{
                font-size: 50px;
                padding-left: 20px;
            }
            dd,ol{
                font-size: 35px;
                padding-left: 30px;
                margin-top: 60px;
                padding-top: 10px;
            }
            imgch{
                float: left;
                margin-right: 30px;
                margin-left: 30px;
                border-radius: 10px;
                transition: 0.3s;
            }
            imgch:hover{
                transform: scale(1.1);
                box-shadow: 0 0 20px 10px rgba(171, 190, 236, 0.6); 
            }
            article{
                font-size: 35px;
                padding-bottom: 30px;
            }



form{
    font-size: 35px;
}

button {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #181818;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                background: white;
                padding: 20px 20px;
                border-radius: 4px;
                transition: 0.2s;
                height: 40px;
                margin:auto;
        }
button:hover {
                background: #420410;
                color: white;
            }


.shap a {
   text-decoration: none;
    color: #181818;
    font-weight: bold;
    font-size: 20px;
    background: white;
    padding: 15px 15px;
    border-radius: 2px;
    height: 20px;
    margin-top: 0px;
    transition: color 0.3s ease;
    display:inline-flex;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.shap a::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #420410 0%, #181818 100%);
    transition: top 1.2s ease;
    z-index: -1;
    
}

.shap a:hover::before {
    top: 0;
}

.shap a:hover {
    color: white;
     
}

.reg{
     text-align: center;
}
sort2{

                /*text-align: center;*/
                /*display: flex;*/
                /*align-items: center;*/
                font-family: "Comforter Brush", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 150px;
                /*padding-left: 40px;*/
            }

fieldset {
    text-align: center; /* Центрирует текст внутри fieldset */
    margin-top: 20px;
  }


.otz{
    float: left;
}

.result {
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            display: none;
        }
        .correct {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        .incorrect {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }



.video-center iframe {
    display: inline-block;
}
.video-center {
    text-align: center;
    margin: 20px 0;
}


aside {
    padding: 10px;
    float: right;
    width: 30%; /* ограничивает ширину на десктопе */
    margin-left: 20px;
}


.container {
    display: block;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
    /*transform: translateZ(-10px);*/
}

.image-container1 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    flex-direction: row;
    max-width: 2400px;
    margin: 0 auto;
}
.card1{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    background: #181818;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}
.card1 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}
.card1 .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease;
}
.card1:hover img{
    transform: scale(1.1);
    filter: blur(3x) brightness(0.7);
}
.card1:hover{
    transform: scale(1.1);
    z-index:2;
}
.card1:hover .info{
    opacity:1;
    transform: translateY(0);
}
.image-container1:hover .card1{
    transform: scale(0.9);
    filter: blur(2px) brightness(0.8);
    opacity: 0.8;
}
.image-container1:hover .card1:hover {
  transform: scale(1.1);
  filter: none;
  opacity: 1;
  z-index: 3;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.card1::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 14px;
    padding: 4px;
    z-index: 12;
     border: 2px solid transparent;
    background:  
        /* Верх */
        linear-gradient(90deg, transparent 40%, #ff1645 50%, transparent 90%) 0% 0% / 200% 2px,
        /* Право */
        linear-gradient(180deg, transparent 40%, #ff1645 50%, transparent 90%) 100% 0% / 2px 200%,
        /* Низ */
        linear-gradient(270deg, transparent 40%, #ff1645 50%, transparent 90%) 100% 100% / 200% 2px,
        /* Лево */
        linear-gradient(0deg, transparent 40%, #ff1645 50%, transparent 90%) 0% 100% / 2px 200%;
    background-size: 200% 200%;
    
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: neonLine 2s linear infinite;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /*ограничивает градиент*/
    mask-composite: exclude;
}

.card1:hover::before {
    opacity: 1;
}
@keyframes neonLine {
    0% {
        background-position: 
            0% 0%, 25% 25%; 
    }
    25% {
        background-position: 
            100% 0%,
            125% 25%;
    }
    50% {
        background-position: 
            100% 100%,
            125% 125%;
    }
    75% {
        background-position: 
            0% 100%,
            25% 125%;
    }
    100% {
        background-position: 
            0% 0%,
            25% 25%;
} 
}





.image-containerglav {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
    
    margin: 0 auto;
    
}
.sortiGroup-img {
    display: block;
    transition: 0.3s;
}
.sortiGroup-img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px rgba(171, 190, 236, 0.6); 
}
.sortiGroup{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 10px;
            gap: 1px;
            font-size: 50px;
            align-items: center;
            width: auto;
            flex: 0 0 auto;
        }



        /* Скрываем чекбокс */
.burger-checkbox {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

/* Бургер-кнопка */
.burger-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    position: relative;
    z-index: 1001;
}

/* Линия бургера через псевдоэлементы */
.burger-line {
    position: relative;
    width: 30px;
    height: 3px;
    background: #181818;
    transition: all 0.3s ease;
}

.burger-line::before,
.burger-line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #181818;
    left: 0;
    transition: all 0.3s ease;
}

.burger-line::before {
    top: -8px;
}

.burger-line::after {
    top: 8px;
}



@media (max-width: 768px) {
    .burger-button {
        display: flex;
        position: absolute;
        top: 20px;
        right: 50px;
    }
    
    /* Меню */
    .shap {
        position: fixed;
        top: 0;
        right: 0;
        width: 65%;
        height: 100vh;
        background: rgba(72, 77, 118, 0.9);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 100px;
        transition: all 0.3s ease;
        z-index: 1000;
        gap: 55px;
        
        /* Скрываем меню */
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
    }
    
    /* Показываем меню при активации чекбокса */
    .burger-checkbox:checked ~ .shap {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    
    /* Анимация бургера в крестик */
    .burger-checkbox:checked + .burger-button .burger-line {
        background: transparent;
    }
    
    .burger-checkbox:checked + .burger-button .burger-line::before {
        transform: rotate(45deg);
        top: 0;
        background: #181818;
    }
    
    .burger-checkbox:checked + .burger-button .burger-line::after {
        transform: rotate(-45deg);
        top: 0;
        background: #181818;
    }


     /* стили для ссылок меню */
    .shap a {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 26px;
        font-weight: 600;
        text-decoration: none;
        color: #181818;
        background: rgba(245, 243, 243, 0.95);
        
        
        border-radius: 1px;
        
        /* тень и переходы */
        box-shadow: 0 4px 15px rgba(93, 0, 19, 0.2);
        transition: all 0.3s ease;
        
       
        text-align: center;
        line-height: 1.4;
        
        /* эффекты при наведении */
        position: relative;
        overflow: hidden;
    }



    .container {
        flex-direction: column;
        padding: 10px;
    }
    
    .image-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .image-containerglav {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
       
    }
    
    .sortiGroup {
        margin-bottom: 10px;
        gap: 4px;
    }

    .sortiGroup h4 {
        font-size: 40px;
        margin: 0 0 5px 0;
    }

    .sortiGroup img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin: 0; 
    }
    
    nav ul {
        flex-direction: column;
        gap: 15px;
    }
    
    .shap {
        flex-direction: column;
        gap: 20px;
    }
    
     .image-container1 {
        display: flex;
        flex-direction: row; 
        gap: 20px;
        flex-wrap: wrap; /* перенос на новую строку */
        justify-content: center;
    }
    
    .card1 {
        width: 90%; 
        max-width: 300px;
    }
    
    .card1 img {
        height: 300px; 
    }
    
    
    logtext {
        font-size: 40px;
        margin-top: 100px;
    }
    
    obl {
        font-size: 80px;
    }
    
    sort {
        font-size: 90px;
    }

    aside {
        width: 100%; 
        margin: 4px 0; 
        text-align: center; 
        padding: 0;
    }
    
    /* дляя изображений внутри aside в мобильной версии */
    aside img {
        max-width: 40%; /* ограничиваем ширину изображения */
        max-height: 40%;
        height: auto; /* сохраняем пропорции */
        
    }

    .buttonscr {
    background: #fc0;
    padding: 10px 20px;
    display: inline-block;
   }
   .descr { visibility: hidden; }
   .buttonscr:hover + .descr {
    visibility: visible;
   }

   footer{
    text-align: center;
    flex-direction: column;
    gap: 15px;
   }

   .containervideo iframe{
    max-width: 90%;
    max-height: 90%;
   
   }
}

img {
    max-width: 100%;
    height: auto;
}

.image-container img,
    .image-container2 img {
        max-width: 50%;
        height: auto;
    }


    
.typing span{
    opacity:0;
    display: inline-block;
    animation: css-animation-typing 0.3s forwards;
    font-family: "Love Light", cursive;
}

@keyframes css-animation-typing {
  to {
    opacity: 1;
  }
}



 .containervideo {
            max-width: 12000px;
            max-height: 12000px;
            margin: 0 auto;
        }
.overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(57, 57, 57, 0.7);
            top: 0;
            left: 0;
            transform: scale(0);
            transition: all 0.3s ease;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
        }
        
        .image-item:hover .overlay {
            transform: scale(1);
        }


.card{
    position: absolute;
    width: 250px;
    margin: 0 auto; 
    align-items: center;
    
    padding:2rem;
    border-radius:1rem;
    background: rgba(72, 77, 118, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.card-title{
    
    margin-top:40;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}
.block{
    border-radius:1rem;
    display:flex;
    position: relative;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width:200px;
    height: 350px;
    background: linear-gradient(#bcc0f3 0, #e0d9a7 60%);
    box-shadow: 0 0 20px 10px rgba(171, 190, 236, 0.6); 
}

.block2{
    border-radius:1rem;
    display:flex;
    position: relative;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width:200px;
    height: 350px;
    background: linear-gradient(#e095d1 0, #a3a089 60%);
    box-shadow: 0 0 20px 10px rgba(171, 190, 236, 0.6); 
}

.block3{
    border-radius:1rem;
    display:flex;
    position: relative;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width:200px;
    height: 350px;
    background: linear-gradient(#641219 0, #000000 60%);
    box-shadow: 0 0 20px 10px rgba(171, 190, 236, 0.6); 
}

@keyframes move {
  from {
    left: 0;
    bottom: 120px;
    
  }

  to {
    left: 90px;
    bottom: 300px;
  }
}

@keyframes move1 {
  from {
    left: 0;
    bottom: 120px;
    
  }

  to {
    left: -60px;
    bottom: -30px;
  }
}
.box, .box1 {
  
  display:none;
    position: absolute;
    
    margin-top: 10px;
    margin-left: 50px;
    
    width:30px;
    height: 30px;
    padding:2rem;
    border-radius:1rem;
    background: rgba(72, 77, 118, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.block3:hover .box{
    display: block;
    opacity:1;
    animation: move 2s ease infinite;
   

}
.block2:hover .box{
    display: block;
    opacity:1;
    animation: move 2s ease infinite;
   

}

.block:hover .box{
    display: block;
    opacity:1;
    animation: move 2s ease infinite;
   

}

.block3:hover .box1{
     display: block;
    opacity:1;
    animation: move1 2s ease infinite;
    

}
.block2:hover .box1{
     display: block;
    opacity:1;
    animation: move1 2s ease infinite;
    

}
.block:hover .box1{
     display: block;
    opacity:1;
    animation: move1 2s ease infinite;
    

}

